@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: outFitReg;
    src: url(../src/assets/fonts/Outfit-Regular.ttf);
}
@font-face {
    font-family: outFitBold;
    src: url(../src/assets/fonts/Outfit-Bold.ttf);
}